
<header ng-include="'app/templates/navbar/navbar.html'"></header>
<div class="container teal lighten-2">
  <div class="valign-wrapper">
    <div style="width: 100%;">
      <div class="animated fadeInUp">
        <h1 class="center-align"> The smart way to shop</h1>
      </div>
    </div>
  </div>
  <div style="margin-top: 5%;" class="row">
    <div class="col s6">
      <select id="select_sex" class="animated fadeInLeft browser-default">
        <option value="" disabled="disabled" selected="selected">Sex</option>
        <option value="femme">Woman</option>
        <option value="homme">Man</option>
      </select>
    </div>
    <div class="col s6">
      <select id="select_size" class="animated fadeInRight browser-default">
        <option value="" disabled="disabled" selected="selected">Size</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
      </select>
    </div>
  </div>
  <button type="submit" name="action" style="width: 100%;" ng-click="submit()" class="red lighten-3 btn-large waves-effect waves-light animated fadeInLeft">Find<i class="mdi-content-send right"></i></button>
  <toaster-container toaster-options="{'position-class': 'toast-top'}"></toaster-container>
  <div ng-show="is_submitted" style="margin-left: 45%; margin-top: 50px;" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div style="margin-top: 50px;" class="row">
    <div ng-repeat="res in zalando_res" ng-show="is_loaded" style="width: 297px;" on-last-repeat="on-last-repeat" class="col s1 m4 animated fadeInUp">
      <div class="card teal lighten-3">
        <div style="background: #fff; height: 221px; overflow: hidden;" ng-class="{'asos': true}" class="card-image center-align z-depth-1"><img ng-src="{{ res.imagebox_image }}" data-caption="{{ res['imagebox_image/_alt'] }}" style="height: 350px; width: auto; margin-top: -127px" ng-if="res.from === 'asos'"/><img ng-src="{{ res.imagebox_image }}" data-caption="{{ res['imagebox_image/_alt'] }}" style="height: 350px; width: auto;  margin-top: -64px; " ng-if="res.from === 'zalando'"/><img ng-src="{{ res.imagebox_image }}" data-caption="{{ res['imagebox_image/_alt'] }}" style="height: 127px; width: auto;  margin-top: 47px; " ng-if="res.from === 'sarenza'"/><img ng-src="{{ res.imagebox_image }}" data-caption="{{ res['imagebox_image/_alt'] }}" style="height: 200px; width: auto;  margin-top: 14px; " ng-if="res.from === 'shoes'"/></div>
        <div style="background: #fff;" class="card-content teal lighten-3 white-text">
          <div class="card-title">
            <p class="truncate">{{ res['imagebox_image/_alt'] }}</p>
          </div>
        </div><a style="width: 100%;" href="{{ res['link_1'] }}" target="blanck" class="z-depth-2">
          <div style="width: 100%;" class="card-action red-text waves-effect waves-light red lighten-3 z-depth-1 white-text">BUY {{ res['price'] }} €</div></a>
      </div>
    </div>
  </div>
</div>