
<nav class="red lighten-3">
  <div class="nav-wrapper"><a href="#" class="brand-logo center waves-effect waves-light">
      SmartShop'
          
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class="waves-effect waves-light z-depth-1">Contact</a></li>
      </ul><a id="nav-mobile" href="#!" data-activates="dropdown1" class="left hide-on-large-only dropdown-button"><i class="mdi-navigation-arrow-drop-down left"></i></a></a></div>
</nav>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#" class="waves-effect waves-light">Contact</a></li>
</ul>
<script type="text/javascript">
  $(".dropdown-button").dropdown();
  
      //- ul#nav-mobile.right.hide-on-large-only
        //- li
          //- a(href='#').waves-effect.waves-light.z-depth-1 test
  
  
  //- <nav>
  //-   <div class="nav-wrapper">
  //-     <a href="#" class="brand-logo center">Logo</a>
  //-     <ul id="nav-mobile" class="left hide-on-med-and-down">
  //-       <li><a href="sass.html">Sass</a></li>
  //-       <li><a href="components.html">Components</a></li>
  //-       <li><a href="javascript.html">JavaScript</a></li>
  //-     </ul>
  //-   </div>
  //- </nav>
</script>